@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

*{
    margin: 0;
    padding: 0;
}

li{
    font-family: 'Marck Script', cursive;
}

.navigation{
    width: 100%;
    position: absolute;
    top: 10%;
}

.navbar-text{
    font-family: 'Marck Script', cursive;
}