<div class="modal fade" id="loginmodal" >
    <div class="modal-dialog cascading-modal" >
        <app-login></app-login>
    </div>
</div>

<mat-toolbar color="primary" fullscreen >
    <mat-toolbar-row >
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Online &middot; Library</h1>
      <span class="menu-spacer"></span>
      <div>
        
        <!-- <a mat-button [routerLink]="'/create-activity'"> Create Activity </a> -->
        <a mat-raised-button color="warn" style="text-decoration: none;" data-target="#loginmodal" data-toggle="modal" >Login/Register</a>

      </div>
    </mat-toolbar-row>

</mat-toolbar>
  


<mat-sidenav-container>
<mat-sidenav #sidenav>
  <mat-nav-list>

    <a mat-list-item [routerLink]="'/'"> Home </a>
    <a mat-list-item [routerLink]="'/about'"> About </a>
    <a mat-list-item [routerLink]="'/blog'"> Blog </a>
    <a mat-list-item [routerLink]="'/social-media'"> Social Media </a>

    <!-- <a mat-list-item [routerLink]="'/create-activity'"> Create Activity </a>
    <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
  <div style="height: 85vh;"> <!-- change height if you need no scroll for a single component -->

    <div class="container"> <!-- remove class container if not required -->
      <router-outlet></router-outlet>
    </div>

  </div>
</mat-sidenav-content>
</mat-sidenav-container>
  