.content-grp {
   
    overflow-x: scroll;
    border-radius: 8px;
    margin: 30px auto;
    margin-top: 0%;
    display :flex;
 
}
.content {
      
    border-radius: 8px;
    margin: 30px auto;
    margin-top: 0%;
    overflow-y: hidden;
    overflow-x: scroll;
    display :flex;
 
}
.content-item {
    border-radius: 8px;
   
    margin: 20px;
    padding: 10px;
}

.img {
    height : 180px;
    width : 85%; 
    display: block;
    margin : 20px;
    margin-bottom: 10px;
}
img:hover {
    opacity: 0.3;
}
.content-display {
    background-color: bisque;
    height: 280px;
    border-radius: 8px;
    margin: 30px auto;
    margin-top: 0%;
    overflow-y: hidden;
    overflow-x: scroll;
    display :flex;
}