.group {   
    margin: 5px;
    background-color: rgb(213, 228, 227);
    border-radius: 10px;
    height: 200px;
}

img {  
    height: 150px; 
    width:130px;
    margin: 25px;
}

.image {
    float: left;
    width: 20%;
    height: 200Px;
}

.details {    
    float: left;
    width: 40%;
    height: 200Px;
}

.button_class {
    float: right;   
    width: 40%;
    height: 200Px;
}

h4 :hover {
    color: red;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;       
}

img :hover {
    opacity: 0.3;
}

