<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="about.component.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <section class="team">
  	 <div class="container">
		<h2>ABOUT US</h2>
		<h3>Our goal is to provide a page on the web for every book ever published. The ultimate goal of the Open Library is to make all the published works of humankind available to everyone in the world. Achieving it will require the participation of librarians, authors, government officials and technologists.</h3>
		<h3>Open Library is one of the project made for the people so that they can use the knowledge from anywhere through e-books.This project was made on September 2020 by a team of 5 members with a vision "Feed the mind". </h3>
		<br><h1>OUR TEAM</h1>
		<h3>We are a team of thinkers,makers and explorers. We approach our work with passion and curiosity in an efficient manner by applying the knowledge we have and simultaneously learn and improve our knwoledge.</h3>

  	 	<a href="https://github.com/hisDragon/" target="_blank">
			<div class="card">
				<div class="box">
					<img src="../../assets/user.jpg" alt="team img" />
				<h4>  Nishanth R</h4>
				<h5>Designer</h5>
				<p>Computer Science Engineering</p>
				<p>"It’s hardware that makes a machine fast.  It’s software that makes a fast machine slow."</p>
				</div>
		  	</div>
		</a>
		<a href="https://github.com/nikesh022" target="_blank">
			<div class="card">
				<div class="box">
			 		<img src="../../assets/user.jpg" alt="team img" />
					<h4>Nikesh M R</h4>
					<h5>Designer</h5>
					<p>Computer Science Engineering</p>
					<p>"To acquire knowledge, one must study; but to acquire wisdom, one must observe."</p>
				</div>
		  	</div>
		</a>
		<a href="https://github.com/chandan-agrahar" target="_blank">
			<div class="card">
				<div class="box">
			 		<img src="../../assets/user.jpg" alt="team img" />
					<h4>Chandan Agrahar</h4>
					<h5>Designer</h5>
					<p>Computer Science Engineering</p>
					<p>"Knowledge without practice is useless.Pratice without knowledge is dangerous."</p>
				</div>
		  	</div>
		</a>   
		
		<a href="https://github.com/manoj24a04" target="_blank">
			<div class="card">
				<div class="box">
			 		<img src="../../assets/user.jpg" alt="team img" />
					<h4>Manoj B</h4>
					<h5>Designer</h5>
					<p>Computer Science Engineering</p>
					<p>"Unity is strength. . . when there is teamwork and collaboration, wonderful things can be achieved."</p>
				</div>
		  	</div>
		</a>

		<a href="https://github.com/anjali-0227" target="_blank">
			<div class="card">
				<div class="box">
			 		<img src="../../assets/user.jpg" alt="team img" />
					<h4>Anjali</h4>
					<h5>Designer</h5>
					<p>Computer Science Engineering</p>
					<p>"To acquire knowledge, one must study; but to acquire wisdom, one must observe."</p>
				</div>
		  	</div>
		</a>

       </div>   
  </section> 
</body>
</html>