<!-- <p>reset-password works!</p> -->
<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="jumbotron">
                <h2>Reset Password</h2><br>
                <form name="form" [formGroup]="form">

                    <!-- current password -->
                    <div class="form-group">
                        <label for="cpassword">Current Password</label>
                        <input type="password" class="form-control" formControlName="cpassword" [ngClass]="{'is-invalid':form.get('cpassword').touched && form.get('cpassword').invalid}" />
                        <div *ngIf="form.get('cpassword').touched && form.get('cpassword').invalid"  class="invalid-feedback">
                            <div *ngIf="form.get('cpassword').errors.required">Password is required</div>
                            <div *ngIf="form.get('cpassword').errors.minlength">Password  must be at least 8 charaters</div>
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label for="newpassword">New Password</label>
                        <input type="password" class="form-control" formControlName="newpassword" [ngClass]="{'is-invalid':form.get('newpassword').touched && form.get('newpassword').invalid}" />
                        <div *ngIf="form.get('newpassword').touched && form.get('newpassword').invalid"  class="invalid-feedback">
                            <div *ngIf="form.get('newpassword').errors.required">Password is required</div>
                            <div *ngIf="form.get('newpassword').errors.minlength">Password  must be at least 8 charaters</div>
                        </div>
                    </div>

                    <!-- Re-enter password -->
                    <div class="form-group">
                        <label for="repassword">Re-enter Password</label>
                        <input type="password" app-reset-password class="form-control"  formControlName="repassword" [ngClass]="{'is-invalid':form.get('repassword').touched && form.get('repassword').invalid}" />
                        <div *ngIf="form.get('repassword').touched && form.get('repassword').invalid"  class="invalid-feedback">
                            <div *ngIf="form.get('repassword').errors.required">Password is required</div>
                            <div *ngIf="form.get('newpassword') != form.get('repassword').touched">mismatch</div>
                        </div>
                    </div>

                    <!-- Buttot for Registering -->
                    <div class="form-group">
                        <button class="btn btn-primary"  [disabled]="!form.valid">Reset</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
