
 <div class="top-photo col-md-12 ">
    <img src="../../assets/images/dashborad_background.jpg">
    <h3>{{ userName }}</h3>
  </div>

  <div class="user">
    <img src="../../assets/images/avatar.jpg">
  </div>

<div class="container">
  <div class="row">

    <div class="col-md-3 col-xs-6">
      <div class="details-left">
        <h3>Contact <i>Details</i></h3>
            <ul>
            <li>ID</li>
            <li>Phone</li>          
            <li>E-mail</li>
            </ul>
      </div>
    </div>

     <div class="col-md-3 col-xs-6">
       <div class="detail-right">
         <ul>
           <li>{{  userId }}</li>
           <li>{{ userPhone }}</li>
           <li>{{ userEmail }}</li>
         </ul>
       </div>
     </div>   

  </div>
</div>